<div class="login-page">
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <h1>Registration</h1>
      <div>
        <div *ngIf="failureMessage" class="alert alert-danger">{{failureMessage}}</div>
      </div>
      <form role="form">
        <div class="form-content">
          <div class="form-group">
            <input type="text" class="form-control input-underline input-lg"  name="username" [(ngModel)]="username" placeholder="Username">
          </div>

          <div class="form-group">
            <input type="password" class="form-control input-underline input-lg"  name="password" [(ngModel)]="password" id="password" placeholder="Password (min. 8 characters)">
          </div>
        </div>
        <button class="btn btn-success" (click)="onRegister()">Register</button>
        <button class="btn btn-warning" (click)="onClear()">Clear</button>
      </form>
    </div>
  </div>
</div>
