<div class="login-page">
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <h1>Login</h1>
      <div *ngIf="authenticationStatus.reason" class="alert alert-danger">{{authenticationStatus.reason}}</div>
      <div *ngIf="message" class="alert alert-success">{{message}}</div>
      <form role="form">
        <div class="form-content">
          <div class="form-group">
            <input type="text" class="form-control input-underline input-lg" name="username" [(ngModel)]="username"
                   placeholder="Username">
          </div>

          <div class="form-group">
            <input type="password" class="form-control input-underline input-lg" name="password" [(ngModel)]="password"
                   id="password" placeholder="Password">
          </div>
        </div>
        <button type="button" class="btn btn-info" (click)="onLogin()">Login</button>
        <a type="button" class="btn btn-outline-info" href="/register">Register</a>
      </form>
    </div>
  </div>
</div>
