<div class="row">
  <h1 class="centered">Users:</h1>
</div>
<div class="row">
  <table class="table table-striped small-table centered">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        {{ user.name }}
      </td>
    </tr>
    </tbody>
  </table>
</div>
